[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* see http://google.github.io/material-design-icons/
  I'm not using woff/woff2 because it's not supported before Android 4.3, which is still ~30% of android adoption.
  I'm not using several options (woff or ttf) becuase I want these files to be in the appcache.
  I checked and if the ttf is returned gzipped then it's the same size (60KB) as the woff, so not much harm in using ttf which is supported everywhere.
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    /* Originally from:
     http://fonts.gstatic.com/s/materialicons/v15/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf */
    url(http://yoav-zibin.github.io/angular-material-with-sourceMappingURL/fonts/material-icons/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Similar thing for material font:
   http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic
   I just want the ttf (see what's returned with BlackBerry user agent..
   If these TTFs are not in appcache, then on iOS it makes the text be in bold if you load the app from airplane mode.
   Each one of these TTF is 33KB, so 4*33 = 132KB, which is fine (even if the phone already have these fonts installed).
 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://yoav-zibin.github.io/angular-material-with-sourceMappingURL/fonts/roboto/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://yoav-zibin.github.io/angular-material-with-sourceMappingURL/fonts/roboto/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://yoav-zibin.github.io/angular-material-with-sourceMappingURL/fonts/roboto/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://yoav-zibin.github.io/angular-material-with-sourceMappingURL/fonts/roboto/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.full_screen {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.overflow-y-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.not-scrollable {
  overflow-y: hidden;
}

/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.flip_rtl {
  transform: rotate(180deg);
}

.menu-divider {
  margin: 10px 0 10px 0;
}

.notifications-container {
  position: fixed;
  top: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90; /* 
  md-sidenav has z-index: 60;,  (bottom sheet at z-index: 70; and .md-dialog-container at 80) 
  and I want the notifications to be seen above all else.
  It has to be above the left-nav, because in wide screens (>600px) the left-nav is always opened,
  so the notification can't be half below it and half visible.
  The top is set to 140px so it's exactly below FB login and language selection,
  because of the gameinvite flow for new users:
  new users see the left-nav opened on first load because I want them to login to FB,
  then after they logged in, they will click on the gameinvite to start the game.
  
  In addition to z-index, we use whiteframe to create a box-shadow: 
  sidenav are 16dp elevation in the spec, and z3 is only 7dp, but 16dp looks too much...
  See spec: https://www.google.com/design/spec/what-is-material/elevation-shadows.html#elevation-shadows-elevation-android-
  What I currently use:
  md-menu (z2 = default):     box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  LeftNav (z3):               box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12); 
  Notification (z4):          box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); 
  FAB (default):              box-shadow: 0 2px 5px 0
  */
  flex-direction: column;
  max-width: 500px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.notification {
  display: flex;
  background-color: #2BA22D;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  align-items: center;
  margin-bottom: 10px;
  width: 90%;
}
.notification-content {
  width: 90%;
  overflow: auto;
}
.notification-avatar {
  float: left;
  margin-right: 10px;
}
.notification-title {
  font-weight: bold;
  margin: 5px;
}
.notification-body {
  margin: 5px;
}
.big-material-icon {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
  min-width: 48px !important;
  min-height: 48px !important;
}

.facebook-login {
  display: inline-block;
  background-color: #3a5795;
  padding: 6px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 8px;
  margin-left: 52px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

/* similar to md-avatar: 40x40 img, 
  though recommended hit area should actually be 48x48.
  Hit-area is only affected by padding (margins don't count in hit area),
  and if I increase padding then the border is far from the avatar.
  min-height and min-width are needed on ios to prevent "shrinking" of the avatar (in dismissSwipedMatchDialog)
 */
.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}
.avatar-has-turn {
  border: 2px solid green !important;
}

/* playPage toolbar has height:56px (portrait), 48px (landscape), or 64px (wide screens: width > 959px) 
I copied the css media queries from: http://yoav-zibin.github.io/angular-material-with-sourceMappingURL/angular-material.css
I would have loved to use on the game_container: flex height:100% (https://material.angularjs.org/latest/layout/tips),
but the game header in the play page is inside an ng-view, which has to be height:100% due to a md-list height issue.
*/
md-toolbar.closed_game_header {
  background-color: transparent;
  z-index: auto !important;
}
.closed_game_header md-icon {
  color: black !important;
  position: relative;
  z-index: 89; /* game iframe have z-index 88 */
}
.game_iframe_with_closed_game_header {
  top: 0px;
  z-index: 88; /* .notifications-container have z-index 90 */
}
.game_iframe_with_opened_game_header {
  top: 64px;
}
@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
  .game_iframe_with_opened_game_header {
    top: 56px; } }

@media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
  .game_iframe_with_opened_game_header {
    top: 48px; } }


.game_container {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

#game_iframe {
  width: 100%;
  height: 100%;
  border : none;
  overflow: hidden;
}

/* This animation to slowly hide&show modal dialogs
  was critical to prevent a bug due to ngMaterial,
  see https://github.com/angular/material/issues/7978,
  but then I added game_iframe_protector.
  */
.notification.ng-enter, .notification.ng-leave {
  transition:all cubic-bezier(0.55, 0, 0.55, 0.2) 0.3s;
}
.notification.ng-enter, .notification.ng-leave.ng-leave-active {
  opacity:0;
  transform: translate3d(0, -100%, 0);
}
.notification.ng-leave, .notification.ng-enter.ng-enter-active {
  opacity:1;
  transform: translate3d(0, 0, 0);
}

/* I'm showing the game_iframe_protector to ensure clicks on the playPage menu
 (which creates an md-backdrop as first child of body) won't pass to the game. */
md-backdrop + * #game_iframe_protector {
  display: block ! important;
  background: rgba(0, 0, 0, 0.5) ! important;
  visibility: visible ! important;
}

.no-friends-msg {
	margin: 20px auto;
	padding: 10px;
	width: 70%;
	text-align: center;
}

.new-match-fab {
  position: fixed;
  right: 5px;
  bottom: 5px;
}